
# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Reports & logs
allure-results/
allure-report/
*.log
